*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* -------------Header-Area------------------ */

#hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #007CFE;
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 110px;
}
#navList li, #navList a{
    float: left;
    text-decoration: none;
    list-style: none;
    margin: 0px 10px;
    color: #64A5FF;
    font-weight: 600;
}
#navList{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navList li .contact, #navList a .contact{
    padding: 10px 20px;
    background-color: #007CFF;
    color: white;
    border-radius: 4px;
}
.heroData{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.heroData h1{
    font-size: 45px;
    /* color: #007CFF; */
}
.details{
    font-size: 40px;
}
.d2{
    font-size: 20px;
}
.heroImg img{
    height: 100%;
    width: 100%;
}
.heroImg{
    width: 500px;
    height: 500px;
}

#heroSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.details{
    color: rgb(53, 53, 53);
    color: #007CFF
}
.socialDiv{
    margin-top: 30px;
}
.socialDiv span{
    margin: 0px 4px;
    cursor: pointer;
}
.fab{
    color: #1b2e35;
}

/* --------------------------About Section------------------------------ */
#aboutSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionImg{
    display: inline-block;
}
.mainSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.sectionImg img{
    width: 560px;
    height: 370px;
}
.aboutPara{
    color: #6E4DAE;
    font-weight: 420;
    font-size: 18px;
}
#aboutSection h1{
    margin-top: 45px;
}
.skillsetDiv{
    width: 100%;
}
.skillsetDiv > div{
    display: flex;
    justify-content: space-evenly;
}
.skillsetDiv progress{
    width: 350px;
}